@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900 text-slate-400;
}

a {
  @apply text-white hover:text-slate-400 hover:underline;
}

.navigation a {
  transition: all 300ms;
}

.navigation a.active,
.navigation a:hover {
  @apply no-underline;
}

.navigation li:not(:first-child) a:hover::before {
  @apply content-[''] bg-pink-700 w-2 h-2 inline-block mr-2 mb-[2px] rounded-full;
}

.wrapper {
  display: grid;
  grid-template-columns: 400px 2fr;
  gap: 0 2rem;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.fancy-image {
  @apply border-2;
  border-image-slice: 1;
  border-image-source: linear-gradient(89.87deg, #256ad1 7.57%, #d1258c 95.58%);
}
